@import '../components/header-list';
@import '../components/mail-list';
@import '../components/side-bar';


.homepage-container{
    height: 100%;
    display: grid;
    grid-template-areas:  "sidebar header"
    "sidebar mail-list" ;
    grid-template-columns: minmax(auto,256px) auto;
}