@import '../components/header';
@import '../components/mail-list';
@import '../components/side-bar';


.homepage-container{
    height: 100%;
    display: grid;
    grid-template-areas:  "header header"
    "sidebar mail-list" ;
    grid-template-columns: minmax(auto,256px) auto;
    grid-template-rows: 64px auto;
}