.header-container {
  grid-area: header;
  display: flex;
  padding: 8px;
  .logo-container {
    display: flex;
    align-items: center;
    .hamburger-container {
      width: 46px;
      height: 46px;
      padding: 12px;
      border-radius: 50%;
      cursor: pointer;
      margin-inline: 4px;
      &:hover {
        background-color: $secondary-gray;
      }
    }
    .logo-image-container {
      width: 28px;
      height: 28px;
      margin-right: 12px;
    }
  }
  .search-bar-container{
    display: flex;
    padding-left: 104px;
    flex-grow: 1;
    .search-bar-form-container{
      background-color: $secondary-blue;
      display: flex;
      align-items: center;
      border-radius: 24px;
      button{
        padding: 6px;
        svg{
          width: 24px;
        }
      }
    }
  }
}
