.header-container {
  grid-area: header;
  display: flex;
  padding-block: 8px;
  .logo-container {
    display: flex;
    align-items: center;
    .hamburger-container {
      width: 24px;
      height: 24px;
      padding: 12px;
      border-radius: 50%;
      cursor: pointer;
      margin-inline: 4px;
      &:hover {
        background-color: var(--secondary-gray);
      }
    }
    .logo-image-container {
      width: 28px;
      height: 28px;
      margin-right: 12px;
    }
  }
  .search-bar-container{
    flex-grow: 1;
  }
}
