@import "./pages/home-page";

:root {
  --main-gray: #f6f8fc;
}

body {
  margin: 0;
  font-family: google-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  button {
    cursor: pointer;
    font-family: inherit;
  }
}

.App {
  height: 100vh;
  text-align: center;
  padding-inline: 5px;
  background-color: var(--main-gray);
}

@font-face {
  font-family: google-regular;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: google-semibold;
  src: url("../fonts/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: google-bold;
  src: url("../fonts/OpenSans-Bold.ttf");
}
